body {
  font-family: 'Libre Baskerville', serif;
  background-color: Thistle;
  margin: auto;
  text-align: center;
  left: 30px;
  top: 30px;
  bottom: 30px;
  position: relative;
}
img {
  border-style: outset;
  border-width: 5px;
  border-color: DarkMagenta;
  float: left;
  height: 75px;
}
th {
  font-weight: bold;
  position: sticky;
}
h1 {
  font-size: 3em;
}
table {
  border: 4px solid;
  text-align: center;
}
table, th, td {
  position: relative;
}
td, th {
	border: 2px solid;
  vertical-align: center;
  padding: 10px;
  text-align: center;
}
footer {
  background-color: DarkMagenta;
  color: AliceBlue;
  top: 10px;
  text-align: left;
}