td, th {
	border: 2px solid;
  border-radius: 25px;
  vertical-align: center;
  padding: 10px;
  text-align: center;
  }
body {
  font-family: 'Libre Baskerville', serif;
  background-color: LightSteelBlue;
  margin: auto;
  text-align: center justify;
  left: 30px;
  top: 30px;
  bottom: 30px;
  position: relative;
  }
footer {
  background-color: SteelBlue;
  color: AliceBlue;
  }
img {
  border-style: outset;
  border-width: 5px;
  border-color: SteelBlue;
  float: left;
  height: 75px;
  }
th {
  font-weight: bold;
  }
h1 {
  font-size: 2.5em;
  }
table {
  border: 4px solid;
  border-radius: 25px;
  }
table, th, td {
  position: relative;
  }
th {
  position: sticky;
  }